<!--The 'step_code' value from the .js file should be used-->
<li id="contact" class="checkout-contact"  data-bind="fadeVisible: visible()">
    <div class="step-title" translate="'Contact'" data-role="title" data-role="title" />
    <div id="checkout-step-contact"
         class="step-content"
         data-role="content">

        <form id="co-contact-form" class="form" submit="setContactInformation" novalidate="novalidate">
            <div id="contact-form" class="fieldset address">
                <!-- ko foreach: getRegion('additional-fieldsets') -->
                <!-- ko templates: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>

            <div class="actions-toolbar" id="contact-buttons-container">
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        <span translate="'Next'"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
