<div data-bind="visible: visible">
    <div data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
        <div data-role="title">
            <span class="action action-toggle" role="heading" aria-level="2">
                Add a shipping comment

                <!-- ko i18n: 'Add a shipping comment'--><!-- /ko -->
            </span>
        </div>
        <div data-role="content">
            <form class="form form-comment">
                <div class="field">
                    <div class="control">
                        <textarea class="input-text" name="shipping_comment" rows="4" data-bind="attr:{placeholder: $t('Type here...')} " ></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
